#style-switcher h2 a { background: #c8b273 none repeat scroll 0 0 }



/*START SCROLL TO TOP*/
.topcontrol {background: #c8b273 none repeat scroll 0 0;}
/*END SCROLL TO TOP*/



.section-title span {background: #c8b273 none repeat scroll 0 0;}

.btn-light-bg {background: #c8b273 none repeat scroll 0 0;}

.header { background: #c8b273 }

.header_contact ul li i {color: #fff;}

.navbar-default .navbar-nav>li>a:hover {color: #c8b273 !important }

.info {background: #c8b273 none repeat scroll 0 0;}

.about-us-content h2 span {color: #c8b273;}

.progress-bar > span {background: #c8b273 none repeat scroll 0 0;}

ul.tab-buttons li.selected {background: #c8b273 none repeat scroll 0 0;border: 1px solid #c8b273;}

.tab-buttons li a i {color: #c8b273;}

.work_flow ul li i {background: #c8b273 none repeat scroll 0 0;}

.work_flow ul li a:hover{color:#c8b273;}

.team-member-second .contact-details ul a:hover{background: #c8b273;}

.single_testimonial img {border: 4px solid #c8b273;}

.single_service:hover i {color: #c8b273;}

.pricing-table h3{color: #c8b273;}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {border-color: #c8b273;background: #c8b273;}

.sing_link_img a:hover {background: #c8b273;}

.sing_work_text_link {background: rgba(28, 186, 200, 0.8) none repeat scroll 0 0;}

.related_project  h4:hover { color: #c8b273 }

.ans span {background: #c8b273  none repeat scroll 0 0;}

.single_blog_dsc a {color: #c8b273;}

.post-date {background: #c8b273 none repeat scroll 0 0;}

.post-info li a:hover { color: #c8b273 }

.blog-post .post-info li .date {background: #c8b273 none repeat scroll 0 0;}

.blog-post .post-info li .comment {background: #c8b273 none repeat scroll 0 0;}

ul.blog_pagination li a:hover {background: #c8b273;border: 1px solid #c8b273;}

.recent_single h4:hover { color: #c8b273 }

.recent_single span i {color: #c8b273;}

.categories ul li a:hover { color: #c8b273 }

.single_comment h5 {color: #c8b273;}

.blog_sidebar_title {color: #c8b273;}

.single-address i {background: #c8b273 none repeat scroll 0 0;}

.form-control:hover,
.form-control:focus {border: 1px solid #c8b273;}

.actions input {background: #c8b273;}


.buy_now {background: #c8b273;}


