#style-switcher h2 a { background: #15191C none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: #eb2e4a none repeat scroll 0 0;}
/*END SCROLL TO TOP*/

.section-title span {background: #eb2e4a none repeat scroll 0 0;}

.btn-light-bg {background: #eb2e4a none repeat scroll 0 0;}

.header { background: #040E18 }

.header_contact ul li i {color: #eb2e4a; }

.navbar-default .navbar-nav>li>a:hover {color: #eb2e4a !important }

.dropdown-menu li a:hover {background-color: #eb2e4a!important;}

.info {background: #eb2e4a none repeat scroll 0 0;}

.about-us-content h2 span {color: #eb2e4a;}

.progress-bar > span {background: #eb2e4a none repeat scroll 0 0;}

ul.tab-buttons li.selected {background: #eb2e4a none repeat scroll 0 0;border: 1px solid #eb2e4a;}

.tab-buttons li a i {color: #eb2e4a;}

.work_flow ul li i {background: #eb2e4a none repeat scroll 0 0;}

.work_flow ul li a:hover{color:#eb2e4a;}

.team-member-second .contact-details ul a:hover{background: #eb2e4a;}

.single_testimonial img {border: 4px solid #eb2e4a;}

.single_service:hover i {color: #eb2e4a;}

.pricing-table h3{color: #eb2e4a;}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {border-color: #eb2e4a;background: #eb2e4a;}

.sing_link_img a:hover {background: #eb2e4a;}

.sing_work_text_link {background: rgba(235, 46, 74, 0.8) none repeat scroll 0 0;;}

.related_project  h4:hover { color: #eb2e4a }

.ans span {background: #eb2e4a  none repeat scroll 0 0;}

.single_blog_dsc a {color: #eb2e4a;}

.post-date {background: #eb2e4a none repeat scroll 0 0;}

.post-info li a:hover { color: #eb2e4a }

.blog-post .post-info li .date {background: #eb2e4a none repeat scroll 0 0;}

.blog-post .post-info li .comment {background: #eb2e4a none repeat scroll 0 0;}

ul.blog_pagination li a:hover {background: #eb2e4a;border: 1px solid #eb2e4a;}

.recent_single h4:hover { color: #eb2e4a }

.recent_single span i {color: #eb2e4a;}

.categories ul li a:hover { color: #eb2e4a }

.single_comment h5 {color: #eb2e4a;}

.blog_sidebar_title {color: #eb2e4a;}

.single-address i {background: #eb2e4a none repeat scroll 0 0;}

.form-control:hover,
.form-control:focus {border: 1px solid #eb2e4a;}

.actions input {background: #eb2e4a;}


.buy_now {background: #eb2e4a;}


