#style-switcher h2 a { background: #3ab3df none repeat scroll 0 0 }


/*START SCROLL TO TOP*/
.topcontrol {background: #3ab3df none repeat scroll 0 0;}
/*END SCROLL TO TOP*/


.section-title span {background: #3ab3df none repeat scroll 0 0;}

.btn-light-bg {background: #3ab3df none repeat scroll 0 0;}

.header { background: #3ab3df }

.header_contact ul li i {color: #fff;}

.navbar-default .navbar-nav>li>a:hover {color: #3ab3df !important }

.dropdown-menu li a:hover {background-color: #3ab3df!important;}

.info {background: #3ab3df none repeat scroll 0 0;}

.about-us-content h2 span {color: #3ab3df;}

.progress-bar > span {background: #3ab3df none repeat scroll 0 0;}

ul.tab-buttons li.selected {background: #3ab3df none repeat scroll 0 0;border: 1px solid #3ab3df;}

.tab-buttons li a i {color: #3ab3df;}

.work_flow ul li i {background: #3ab3df none repeat scroll 0 0;}

.work_flow ul li a:hover{color:#3ab3df;}

.team-member-second .contact-details ul a:hover{background: #3ab3df;}

.single_testimonial img {border: 4px solid #3ab3df;}

.single_service:hover i {color: #3ab3df;}

.pricing-table h3{color: #3ab3df;}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {border-color: #3ab3df;background: #3ab3df;}

.sing_link_img a:hover {background: #3ab3df;}

.sing_work_text_link {background: rgba(28, 186, 200, 0.8) none repeat scroll 0 0;}

.related_project  h4:hover { color: #3ab3df }

.ans span {background: #3ab3df  none repeat scroll 0 0;}

.single_blog_dsc a {color: #3ab3df;}

.post-date {background: #3ab3df none repeat scroll 0 0;}

.post-info li a:hover { color: #3ab3df }

.blog-post .post-info li .date {background: #3ab3df none repeat scroll 0 0;}

.blog-post .post-info li .comment {background: #3ab3df none repeat scroll 0 0;}

ul.blog_pagination li a:hover {background: #3ab3df;border: 1px solid #3ab3df;}

.recent_single h4:hover { color: #3ab3df }

.recent_single span i {color: #3ab3df;}

.categories ul li a:hover { color: #3ab3df }

.single_comment h5 {color: #3ab3df;}

.blog_sidebar_title {color: #3ab3df;}

.single-address i {background: #3ab3df none repeat scroll 0 0;}

.form-control:hover,
.form-control:focus {border: 1px solid #3ab3df;}

.actions input {background: #3ab3df;}


.buy_now {background: #3ab3df;}


